@model IEnumerable<Testasp.Models.Team>

<input style="display:none" type="button" id="sh" value="Show" class="btn btn-primary" />
<input type="button" id="t" value="Hide" class="btn btn btn-primary" />
<div id="team">

    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coach)
                </td>
            </tr>
        }

    </table>
</div>



<script type="text/javascript">
    $(function () {
        $("#t").bind('click', function () {
            $("#team").css("display", "none");
            $("#t").css("display", "none");
            $("#sh").css("display", "block");
        });
        $("#sh").bind('click', function () {
            $("#team").css("display", "block");
            $("#sh").css("display", "none");
            $("#t").css("display", "block");
        });

    });

</script>

